.lesson__wrapper {
  width: 1000px;
  min-height: 800px;
}

.lesson__search {
  display: flex;
  justify-content: space-evenly;
  background-color: #cccfd3;
  border-radius: 8px;
}

.searchbtn {
  color: black;
  background-color: #2fca2f;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
  border-radius: 8px;
  font-size: 16px;
}

.searchbtn:hover {
  opacity: 1;
  background-color: #28b128;
}
